In [0]:
import pandas as pd
import numpy as np

**Question 1: Given a list of tuples, find the number of occurrences of each tuple in the list.**

In [0]:
z = [('1','a'), ('2','b'),('2','b'),('3','c'),('1','a'),('1','a'),('1','a'),('1','a'), ('2','b'),('2','b'), ('3','c'),('1','a'),('1','a'),('1','a')]

In [175]:
def unique(list1): 
  
    # intilize a null list 
    unique_list = [] 
      
    # traverse for all elements 
    for x in list1: 
        # check if exists in unique_list or not 
        if x not in unique_list: 
            unique_list.append(x) 
    return(unique_list)
uniq_z=unique(z);
for i in uniq_z:
  print(i,z.count(i))

('1', 'a') 8
('2', 'b') 4
('3', 'c') 2

**Question 2: Create a list of 10 random numbers between 1-100. Create a balanced BST (Binary search tree) from this array**

In [0]:
rand_list=np.random.randint(1,100,size=10)
sorted_list = sorted(rand_list)
sorted_list

#creted a node for the root
class node:
  def __init__(self,data):
    self.data=data
    self.right=None
    self.left=None
    
#creating a tree while reusing the same function which
#compares the value with root
def sort_arr_to_bst(array):
  if not array:
     return None
  #find middle and make it root
  mid=int(len(array)/2)
#   print(mid)
  root=node(array[mid])
  
  #left and right root to the node
  root.left=sort_arr_to_bst(array[:mid])
  root.right=sort_arr_to_bst(array[mid+1:])
 


  #func value
  return root

In [0]:
root=sort_arr_to_bst(sorted_list)

In [0]:
# A utility function to print the preorder  
# traversal of the BST 
def preOrder(node): 
    if not node: 
        return
      
    print (node.data), 
    preOrder(node.left) 
    preOrder(node.right)

In [172]:
print ("PreOrder Traversal of constructed BST "), 
preOrder(root)

PreOrder Traversal of constructed BST
31
12
10
5
26
20
89
85
76
96

**Question 3: Given the following dictionary:**

{ ‘black :  ’r’, 
  ‘hero’: ‘e’, 
  ‘go’ ’g’, 
  ‘clue’:’i’,
  ’mean’:’q’,
  ’groan’:’o’,
  ’sin’:’p’,
  ’pint’:’u’,
  ’tone’:’n’,
  ’graze’:’s’,
  ‘sea’:’t’,
  ‘plant’:’a’}

Create a list of all the keys of the dictionary, which can be formed from the values present in the dictionary.

In [174]:
dicti={ 'black' : 'r', 'hero': 'e', 'go':'g', 'clue':'i', 
       'mean':'q', 'groan':'o', 'sin':'p', 'pint':'u', 'tone':'n',
          'graze':'s', 'sea':'t', 'plant':'a'}
k=[]
v=[]
for key,value in dicti.items():
  k.append(key)
  v.append(value)
  
  
result=[]
for i in k:
  if(set(i).issubset(v)):
    result.append(i)
result

['go', 'groan', 'sin', 'pint', 'tone', 'sea']

***Given the following list of tuples, ***

1.sort the list by 1st item in the tuple in ascending order

2.Sort the list by 2nd item in the tuple in ascending order

3.Repeat 1, 2 using descending order
listA = [(1,2), (4,3), (2,10), (12, 5), (6, 7), (9,11), (15, 4)]

In [0]:
listA = [(1,2), (4,3), (2,10), (12, 5), (6, 7), (9,11), (15, 4)]

In [0]:
def Sort_Tuple(tup,item):  
    tup.sort(key = lambda x: x[item-1])  
    return tup

In [180]:
#sorting according to first item
Sort_Tuple(listA,1)

[(1, 2), (2, 10), (4, 3), (6, 7), (9, 11), (12, 5), (15, 4)]

In [181]:
#sorting according to first item
Sort_Tuple(listA,2)

[(1, 2), (4, 3), (15, 4), (12, 5), (6, 7), (2, 10), (9, 11)]

In [0]:
def reverse_Sort_Tuple(tup,item):  
    tup.sort(key = lambda x: x[item-1],reverse=True)  
    return tup

In [183]:
#sorting according to first item descending
reverse_Sort_Tuple(listA,1)

[(15, 4), (12, 5), (9, 11), (6, 7), (4, 3), (2, 10), (1, 2)]

In [184]:
#sorting according to second item descending
reverse_Sort_Tuple(listA,2)

[(9, 11), (2, 10), (6, 7), (12, 5), (15, 4), (4, 3), (1, 2)]

**Question 5: What do you mean by a mutable and immutable object. Are string, list, tuple, dictionary mutable type objects or immutable objects.**

answer

In simple words, an immutable object can’t be changed after it is created. Whereas mutable objects are easy to change.

 immutable object - string, tuple
 
 mutable object - list, dictionary

**Question 6: Learn The usage of Pandas and Numpy:
   Write the command to find unique values in education.
   Command to find the number of customers subscribed and not subscribed.
  Find the mean values of all the independent variables for every ‘y’ (outcome variable)
  What is the mean age for every marital status
  Check for null values**

In [7]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving banking.csv to banking (1).csv
User uploaded file "banking.csv" with length 4882918 bytes

In [0]:
import pandas as pd
import io

df = pd.read_csv(io.StringIO(uploaded['banking.csv'].decode('utf-8')))

In [9]:
#Write the command to find unique values in education.
df['education'].unique()

array(['basic.4y', 'unknown', 'university.degree', 'high.school',
       'basic.9y', 'professional.course', 'basic.6y', 'illiterate'],
      dtype=object)

In [10]:
#Command to find the number of customers subscribed and not subscribed.
#for subscription i have taken the count of last column

rows=int(len(df.index))
sub=0
unsub=0
for i in range(0,rows):
  if df.y[i]==1:
    sub=sub+1
  else:
    unsub=unsub+1
print("sub =",sub)
print("unsub =",unsub)

sub = 4640
unsub = 36548

In [0]:
#Find the mean values of all the independent variables for every ‘y’ (outcome variable)
df0 = df[(df['y'] == 0)]

In [12]:
df.mean()

age                 40.024060
duration           258.285010
campaign             2.567593
pdays              962.475454
previous             0.172963
emp_var_rate         0.081886
cons_price_idx      93.575664
cons_conf_idx      -40.502600
euribor3m            3.621291
nr_employed       5167.035911
y                    0.112654
dtype: float64

In [13]:
df0.mean()

age                 39.911185
duration           220.844807
campaign             2.633085
pdays              984.113878
previous             0.132374
emp_var_rate         0.248875
cons_price_idx      93.603757
cons_conf_idx      -40.593097
euribor3m            3.811491
nr_employed       5176.166600
y                    0.000000
dtype: float64

In [0]:
df1 = df[(df['y'] == 1)]

In [16]:
df1.mean()

age                 40.913147
duration           553.191164
campaign             2.051724
pdays              792.035560
previous             0.492672
emp_var_rate        -1.233448
cons_price_idx      93.354386
cons_conf_idx      -39.789784
euribor3m            2.123135
nr_employed       5095.115991
y                    1.000000
dtype: float64

In [0]:
##What is the mean age for every marital status

In [19]:
df['marital'].unique()

array(['married', 'single', 'divorced', 'unknown'], dtype=object)

In [0]:
means = df.groupby('marital').mean()

In [22]:
means

                age    duration  campaign  ...  euribor3m  nr_employed         y
marital                                    ...
divorced  44.899393  253.790330   2.61340  ...   3.715603  5170.878643  0.103209
married   42.307165  257.438623   2.57281  ...   3.745832  5171.848772  0.101573
single    33.158714  261.524378   2.53380  ...   3.317447  5155.199265  0.140041
unknown   40.275000  312.725000   3.18750  ...   3.313038  5157.393750  0.150000

[4 rows x 11 columns]

In [34]:
##Check for null valu
df.isnull().sum(axis = 0)

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp_var_rate      0
cons_price_idx    0
cons_conf_idx     0
euribor3m         0
nr_employed       0
y                 0
dtype: int64